
.cartography{
    position: absolute;
    right: var(--gap);
    top: var(--gap);
    z-index: 2;
    display: flex;
    gap: 0 .6rem;
}

.carto__item{
    display: block;
    width: 64px;
    height: 58px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    
    .carto_name{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.1rem;
        height: 25px;
        transition: all 0.3s;
    }
    // &:hover,
    // &:focus,
    &[aria-pressed="true"]{
        border: 1px solid var(--color-active);
        .carto_name{
            color: var(--color-active);
        }
    }
}

.carto_thumb{
    height: 3.2rem;
    overflow: hidden;
    img{
        vertical-align: top;
        height: 100%;
        width: 100%;
    }
}
$cartos : layer,lxmap,farmmap,menu;
@each $name in $cartos {
    .btn__carto--#{$name}{
        .carto_thumb{
            background-image: url("../images/icon/#{$name}.svg");
            background-repeat: no-repeat;
            background-position: 50% 8px;
            transition: all 0.3s;
        }
        &[aria-pressed="true"]{
            .carto_thumb{
                background-image: url("../images/icon/#{$name}-hover.svg");
            }
        } 
    }
}
