@import '../utils/var';
@import '../utils/function';

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    a,
    button{
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a{
        font-size: 1.3rem;
        color: #555;
        &[aria-current="true"]{
            color: var(--font-active);
        }
    }
    button{
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .prev{
        background-image: url("../images/icon/icon_back_12.svg");
    }
    .next{
        background-image: url("../images/icon/icon_next_12.svg");
    }
}