.search{
    width: 100%;
    left: 0;
    right: 0;
    top: 1.6rem;
}
#searchType{display: none;}
.icon-menu{
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("../images/icon/menu@24x24.svg");
}
.search__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.search__keyword{
    box-shadow: none;
    position: relative;
    width: calc(100vw - 9.6rem);
    height: calc(5.6rem - 1.2rem);
    padding-right: 0;
    overflow: visible;
    #keyword{
        width: 100%;
        padding-right: 1.5rem;
        border: 1px solid rgba(221, 221, 221, 1);
        border-radius: 99rem;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }
    #btnSearch{
        position: absolute;right: 1.5rem;top: 50%;transform: translateY(-50%);
    }
}
.btn__mobile--menu{
    width: 4.8rem;
    height: 4.8rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 1.2rem;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    i{
        display: block;
        margin: 0 auto;
        width: 2.4rem;
        height: 2.4rem;
        background: url("../images/icon/m@24x24.svg") no-repeat 50% 50%;
        transition: background 0.2s;
    }
    p{
        text-align: center;
        font-weight: 600;
        color: #111;
        font-size: 1.1rem;
    }
    &.active{
        .icon-menu{background-image: url("../images/icon/menu-black@24x24.svg");}
    }
}